.InputContainer{
    margin: 10px auto;
    width: 80%;
    text-align: center;
}

.InputWrite{
    width: 60%;
}

.descInput{
    margin: 0 10px;
}

input{
    font-family: 'Baloo Da', cursive;
    background: none;
    border: none;
    border-bottom: 1px solid black;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
}

.SimpleInput{
    display: block;
    margin: 10px auto;
}

@media (min-width: 600px) {
    .InputWrite{
        width: 25%; 
    } 
}