.ImagesContainer{
    width: 100%;
    box-shadow: 0 0 25px black;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    background: rgba(1, 1, 1, 0.8);    
}

@media (min-width: 600px) {
    .ImagesContainer{
        background: white;
        box-shadow: 0 0 25px lightgrey;
    }  
}