.Menu{
    width: 100%;
    background-color: black;
    padding: 15px;
    box-sizing: border-box;
}

.Menu nav{
    text-align: right;
}

.MenuItem{
    padding: 15px;
    color: white;
    text-decoration: none;
}

.MenuItem:hover{
    background-color: rgb(83, 83, 83);
    color: white;
}

.ActiveItem{
    padding: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}
