.SiteName{
    color: white;
    display: inline-block;
    float: left;
    margin-left: 15px;
}

.Menu{
    width: 100%;
    background-color: black;
    padding: 15px 0;
    box-sizing: border-box;
}

.Menu nav{
    text-align: right;
}

.MenuItem{
    padding: 15px;
    color: white;
    text-decoration: none;
}

.MenuItem:hover{
    background-color: rgb(83, 83, 83);
    color: white;
}

.ActiveItem{
    padding: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
}

.Logo{
    margin-right: 5px;
    font-size: 25px;
}