*{
    margin: 0;
    padding: 0;
}

body{
    background: #fffdc4;
}

header{
    width: 100%;
    height: auto;
    background: rgba(0, 72, 255, 0.47);
    color: #ffffff;
}

header h1{
    text-align: center;
    font-size: 36px;
    padding: 5px;
}

main{
    width: 100%;
    justify-content: center;
    text-align: center;
}

input{
    width: 160px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}