*{
    margin: 0;
    padding: 0;
}

body{
    background: white;
    font-family: 'Baloo Da', cursive;
}

header{
    width: 100%;
    height: auto;
    background: rgba(0, 72, 255, 0.47);
    color: #ffffff;
}

header h1{
    text-align: center;
    font-size: 36px;
    padding: 5px;
}

main{
    width: vw;
    height: vh;
    justify-content: center;
    text-align: center;
}

.customization{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.visualization{
    width: 60%;
    display: inline-block;
}

input{
    width: 160px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}