.singleImg{
    border: 1px solid rgba(1, 1, 1, 0.8);
    width: 75px;
    height: 75px;
    margin: 10px;
}

.marked{
    box-shadow: 0 0 25px white;
    border: 1px solid white;
}

@media (min-width: 600px) {
    .singleImg{
        width: 100px;
        height: 100px;
        margin: 10px;
        border: 1px solid lightgray;
    }
    
    .marked{
        box-shadow: 0 0 25px black;
        border: 1px solid black;
    }

}
