.singleImg{
    border: 1px solid lightgray;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.marked{
    box-shadow: 0 0 25px lightseagreen;
    border: 1px solid lightseagreen;
}
